footer {
     background-color: #ffffff; /* Fundo branco para a área principal do footer */
       }

footer img {
    position: relative;
    top: -5px; 
}

#footer_items{
    display: flex;
    justify-content: space-between;
    padding: 0px 8% 24px 8%;
    align-items: center;
}

#copyright {
    color: var(--color-neutral-1);
}

@media screen and (max-width: 1170px) {

    }
