@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(header.css);
@import url(home.css);
@import url(propost.css);
@import url(benefi.css);
@import url(footer.css);
*{
    font-family: 'Poppins', sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    background-color: #976dff;
}

section{
    padding: 28px 8%;
}

.social-media-buttons{
    display: flex ;
    gap: 148;
    position: relative;
    top: -15px;
}

.social-media-buttons a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 40px;
    font-size: 1.5rem;
    color: #fbcc19;
    text-decoration: none;
}

.title2{
    color: #fbcc19;
    font-size: 3.5rem;
}

.title-bene{
    color: #fbcc19;
    font-size: 3.5rem;
    text-align: center;
}

html{
    scroll-behavior: smooth;
}